// overwrite bulma
body {
  overflow-x: hidden;
  overflow-y: hidden;
}
button.nav-item {
	background-color: transparent;
	border: none;
	color: $text-light;

	&:hover {
		color: $link-hover;
		background-color: whitesmoke;
	}
	// Modifiers
	&.is-active {
		color: $link-active;
	}
	&.is-tab {
		border-bottom: 1px solid transparent;
		border-top:  1px solid transparent;
	}
}
.is-muted {
	color: $grey-light !important;
}
.is-muted:hover {
	color: $grey !important;
}
// overwrite dropdown
.dropdown {
	position: relative;
	.dropdown-menu {
		display: none;
		position: absolute;
		left: 0;
		top: 100%;
		z-index: 1000;
		min-width: 200px;
		text-align: left;
		box-shadow: 0 0 1px rgba(57,70,78,.15), 0 10px 35px -8px rgba(57,70,78,.25);
		background-color: #ffffff;

		li{
			&.seperator {
				border-top: 1px solid #ddd;
				margin: 0;
			}
			&>a {
				margin: 0;
				padding: 10px 20px;
				display: block;
				&:hover {
					background-color: whitesmoke;
				}
			}
		}

	}
	&.is-aligned-right .dropdown-menu {
		right:0;
		left: auto;
	}
	&.is-open .dropdown-menu {
		display: block;
	}
}

.nav {
	height: 4.5rem;
}
.nav-item img {
	max-height: 2.8rem;
	// margin: 10px 0;
}