// overwrite bulma
html {
  background-color: #f0f0f0;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-weight: 200;
}
[v-cloak] { 
	display:none; 
}
.is-muted {
	color: $grey-light !important;
}
.is-muted:hover {
	color: $grey !important;
}

.is-ok {
	color: $green !important;
}
.is-error {
	color: $red !important;
}

.nav {
	height: 4.5rem;
}
.nav-item img {
	max-height: 2.8rem;
	// margin: 10px 0;
}
// overwrite dropdown
.dropdown-menu {
    max-width: 26rem;
    min-width: 12rem;
    position: absolute;
    top: 96%;
}
.dropdown-content {
	min-width: 200px;
	border-radius: 0;
	text-align: left;
	margin: 0;
	padding: 0px;
	box-shadow: 0 0 1px rgba(57,70,78,.15), 0 10px 35px -8px rgba(57,70,78,.25);
	background-color: #ffffff;


		&>a {
			color: $grey;
		}
}

.dropdown-divider {
				margin: 0;
				padding: 0;
}
.dropdown .box .option.is-separator {
	margin: 0;
	padding: 0;

}
.dropdown-item, .dropdown .dropdown-menu .has-link a {
    color: $grey;
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem 1.5rem;
}
.menu {
	background-color: white;
	padding: 20px;
}